-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('ADMIN', 'STUDENT');

-- CreateEnum
CREATE TYPE "ToolType" AS ENUM ('IMAGE_GENERATOR', 'VIDEO_GENERATOR', 'PROMPT_MULTIPLIER');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "studentId" TEXT,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "password" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'STUDENT',
    "creditLimit" INTEGER,
    "isBlocked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "credit_usages" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tool" "ToolType" NOT NULL,
    "cost" INTEGER NOT NULL DEFAULT 1,
    "metadata" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "credit_usages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "generated_prompts" (
    "id" TEXT NOT NULL,
    "originalInput" TEXT NOT NULL,
    "enhancedOutput" TEXT NOT NULL,
    "transformationAnalysis" TEXT,
    "architectureChosen" TEXT,
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "generated_prompts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "generated_images" (
    "id" TEXT NOT NULL,
    "prompt" TEXT NOT NULL,
    "imageUrl" TEXT,
    "referenceImages" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "style" TEXT,
    "aspectRatio" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "generated_images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "generated_videos" (
    "id" TEXT NOT NULL,
    "prompt" TEXT NOT NULL,
    "videoUrl" TEXT,
    "referenceImages" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "resolution" TEXT NOT NULL DEFAULT '720p',
    "aspectRatio" TEXT NOT NULL DEFAULT '16:9',
    "duration" TEXT NOT NULL DEFAULT '5s',
    "status" TEXT NOT NULL DEFAULT 'pending',
    "jobId" TEXT,
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "generated_videos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "example_videos" (
    "id" TEXT NOT NULL,
    "linkId" INTEGER NOT NULL,
    "url" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "creator" TEXT,
    "caption" TEXT,
    "promptText" TEXT,
    "promptLocation" TEXT,
    "videoType" TEXT,
    "referenceImage" TEXT,
    "techniques" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "keyInsights" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "style" TEXT,
    "hasTimestamps" BOOLEAN NOT NULL DEFAULT false,
    "hasDialogue" BOOLEAN NOT NULL DEFAULT false,
    "hasCameraDir" BOOLEAN NOT NULL DEFAULT false,
    "hasSfx" BOOLEAN NOT NULL DEFAULT false,
    "likes" INTEGER,
    "comments" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "example_videos_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_studentId_key" ON "users"("studentId");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_role_idx" ON "users"("role");

-- CreateIndex
CREATE INDEX "credit_usages_userId_idx" ON "credit_usages"("userId");

-- CreateIndex
CREATE INDEX "credit_usages_tool_idx" ON "credit_usages"("tool");

-- CreateIndex
CREATE INDEX "credit_usages_createdAt_idx" ON "credit_usages"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "generated_prompts_createdAt_idx" ON "generated_prompts"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "generated_prompts_userId_idx" ON "generated_prompts"("userId");

-- CreateIndex
CREATE INDEX "generated_images_createdAt_idx" ON "generated_images"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "generated_images_userId_idx" ON "generated_images"("userId");

-- CreateIndex
CREATE INDEX "generated_videos_createdAt_idx" ON "generated_videos"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "generated_videos_userId_idx" ON "generated_videos"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "example_videos_linkId_key" ON "example_videos"("linkId");

-- CreateIndex
CREATE INDEX "example_videos_platform_idx" ON "example_videos"("platform");

-- CreateIndex
CREATE INDEX "example_videos_creator_idx" ON "example_videos"("creator");

-- AddForeignKey
ALTER TABLE "credit_usages" ADD CONSTRAINT "credit_usages_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "generated_prompts" ADD CONSTRAINT "generated_prompts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "generated_images" ADD CONSTRAINT "generated_images_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "generated_videos" ADD CONSTRAINT "generated_videos_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

